/* Common */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  line-height: 2em;
  overflow-x: hidden;
}

/* Typography */
* {
  font-family: Source Sans Pro, sans-serif;
}

/* Header */
.navBar {
  opacity: 0.95;
  z-index: 999;
  background-color: #354935;
  position: fixed;
  min-width: 100%;
  height: 90px;
  text-transform: uppercase;
}

.logo {
  display: inline-block;
  margin: 1em 0;
  height: 150px;
  width: 150px;
}
.logo-image {
  height: 150px;
  width: 150px;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 2%;
}

nav ul {
  padding: 0;
  margin-bottom: 115px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 70%;
}
nav ul a {
  color: #F1CB74;
  text-decoration: none;
  transition: all .5s ease;
}
nav ul a:hover {
  color: #903749;
}
nav li {
  font-size: 0.94em;
  display: inline-block;
}
nav #menu-toggle {
  display: none;
}
nav .label-toggle {
  display: none;
}
nav .wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* First Super Section */
.super-section {
  margin-top: 50px;
  display: flex;
  margin: 0 auto;
  padding: 0 10%;
  padding-bottom: 78px;
  padding-top: 78px;
  align-items: center;
}
.super-item {
  margin-top: 80px;
  padding: 20px;
}
.super-item img {
  width: 500px;
  height: 400px;
}
.super-item p {
  padding: 0 10%;
  text-align: center;
  line-height: 1.7;
}
.super-item p a {
  padding: 3px 0;
  border: 0;
  border-bottom: 2px solid #c59d5f;
  border-radius: 0;
  font-size: 15px;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #c59d5f;
}
.super-item .heading {
  text-align: center;
  display: inline;
}

.headline-primary {
  padding: 0 20%;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.03128;
  letter-spacing: 0.2em;
  font-size: 47px;
  margin: 0;
}
.headline-secondary {
  padding-bottom: 10px;
  font-family: "Herr Von Muellerhoff", Palatino, serif;
  font-size: 100px;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
  color: #c59d5f;
  margin: 0;
}
.headline-secondary .first-letter {
  font-family: "Herr Von Muellerhoff", Palatino, serif;
  font-size: 1.22em;
  margin: 0 -72px;
  padding-left: 72px;
  letter-spacing: 72px;
}

.flower-separator {
  margin: 24px 0;
  font-size: 17px;
  font-family: Serif;
  color: #9a9998;
  display: block;
  height: auto;
  border: 0;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 1;
  text-align: center;
}





/* Covers */
.cover-wrapper {
  position: relative;
}
.cover {
  width: 100%;
  height: 520px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.cover-wrapper:before {
  top: -7px;
}
.cover-wrapper:after {
  bottom: -7px;
}
.cover-wrapper:before, .cover-wrapper:after {
  content: "";
  display: block;
  width: 100%;
  height: 14px;
  position: absolute;
  left: 0;
  background: url(../imgs/border-wave.svg) top left repeat-x;
}
.cover-1 {
  background-image: url(../imgs/caffeine.jpg);
}
.cover-2 {
  background-image: url(../imgs/machine.jpg);
}
.cover-3 {
  background-image: url(../imgs/third-coffee.jpg);
}


/* Footer */
.footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 250px;
  background-image: url(../imgs/footer.jpg);
}
.footer p:first-child {
  font-size: 30px;
}



@media screen and (max-width: 1248px) {
  .super-section {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

/* Header Responsiveness */
@media screen and (max-width: 768px) {
    nav nav ul a {
      color: #F1CB74;
    }
    nav ul {
      background-color: #344632;
      display: block;
      height: 0;
      list-style-type: none;
      opacity: 0;
      text-align: center;
      transition: all 1s ease;
      width: 100%;
      visibility: hidden;
      overflow-y: scroll;
    }
    nav ul {
      padding-bottom: 190px;
    }
    nav li {
      border-bottom: 2px solid #F1CB74;
      color: blue;
      display: block;
      font-size: 1.5em;
      padding: 2em 0;
    }
    nav #menu-toggle:checked ~ ul {
      opacity: 0.97;
      height: 100vh;
      visibility: visible;
    }
    nav .label-toggle {
      background: linear-gradient(to bottom, #F1CB74 0%, #F1CB74 20%, transparent 20%, transparent 40%, #F1CB74 40%, #F1CB74 60%, transparent 60%, transparent 80%, #F1CB74 80%, #F1CB74 100%);
      cursor: pointer;
      display: block;
      float: right;
      height: 35px;
      margin-top: 1em;
      width: 35px;
    }
    nav .wrapper {
      display: block;
    }

    .super-item .heading {
      display: flex;
      flex-direction: column; 
    }
    .headline-primary {
      padding: 0;
    }
}


.insta {
  content: url(../imgs/insta.svg);
  height: 20px;
  width: 20px;
  margin-top: 6px;
}

.face {
  content: url(../imgs/face.svg);
  height: 20px;
  width: 20px;
  margin-top: 6px;
}